/* .reservas {
  background-color: #111;
  color: #f5f5f5;
  padding: 5rem 2rem;
  text-align: center;
} */
 .reservas {
  position: relative;
  background: url("/src/assets/pic-form-back.jpg") center/cover no-repeat;
  color: #f5f5f5;
  padding: 5rem 2rem;
  text-align: center;
}

.reservas-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.reservas-info h2 {
  color: #c59d5f;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.reservas-info p {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
}

.reservas-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.reservas-form label {
  text-align: left;
  color: #c59d5f;
  font-weight: 500;
}

.reservas-form input {
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
}

.reservas-form input:focus {
  outline: 2px solid #c59d5f;
}

.btn-reservar {
  background-color: #c59d5f;
  color: #111;
  border: none;
  border-radius: 25px;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-reservar:hover {
  background-color: #d1a865;
}

@media (max-width: 768px) {
  .reservas-info p {
    font-size: 0.95rem;
  }
}
